<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
{% block title %}{% endblock %}
<link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css.css" rel="stylesheet">
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="/static/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>{% block body%}{% endblock %}</body>
</html>
